body {
  margin: 0;
  font-family: 'SVN-Sofia Pro Regular',-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'SVN-Sofia Pro Bold';
  src: url('../src/assets/fonts/Sofia-Pro/TTF/SVN-Sofia Pro Bold.ttf');
}
@font-face {
  font-family: 'SVN-Sofia Pro Light';
  src: url('../src/assets/fonts/Sofia-Pro/TTF/SVN-Sofia Pro Light.ttf');
}
@font-face {
  font-family: 'SVN-Sofia Pro Regular';
  src: url('../src/assets/fonts/Sofia-Pro/TTF/SVN-Sofia Pro Regular.ttf');
}
@font-face {
  font-family: 'SVN-Sofia Pro Medium';
  src: url('../src/assets/fonts/Sofia-Pro/TTF/SVN-Sofia Pro Medium.ttf');
}
@font-face {
  font-family: 'SVN-Sofia Pro SemiBold';
  src: url('../src/assets/fonts/Sofia-Pro/TTF/SVN-Sofia Pro SemiBold.ttf');
}


