.contractList-title{
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  //  color: #696969;
}
.ims-table .table .header-table-contractList-title {
    padding-left: 65px;
    width: 30%;
}
.ims-table .table .header-table-contractList-code {
   
    width: 16%;
}
.ims-table .table .header-table-contractList-customer{
    
    width: 21%;
}
// .ims-table .table .header-table-contractList-status {
//     padding-left: 65px;
//     width: 28%;
// }
// .ims-table .table .header-table-contractList-update {
//     padding-left: 65px;
//     width: 28%;
// }
.contractList-code{
    font-size: 14px;
    line-height: 16px;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #696969;
    cursor: pointer !important;
}
