.nav-tabs{
    padding-left: 65px;
}
.contract-details{
    padding: 48px 65px;
}
.contract-detail-row{
    margin-left: -32px !important;
    margin-right: -32px !important;
}
.contract-detail-col{
    padding-left: 32px !important;
    padding-right: 32px !important;
}
.contract-info{
    width:100%;
    padding-left: 65px;
    margin-top: 36px;
    margin-bottom: 50px;
    padding-right: 65px;

}
.contract-status{
    background: #31BB71;
    border-radius: 2px;
    height: 36px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 16px;
}
.contract-product-row{
    padding-top: 48px;
}
.contract-detail-button{
    background: #31BB71;
    border-radius: 2px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 14px 61px;
    float: right;
    cursor: pointer;
}
.contract-luu{
    padding-bottom: 24px;
}
.contract-content{
    padding: 0%;
}
.container-fluid{
    padding: 0px;
}

a.nav-item.nav-link {
    color: #263446;
    opacity: 0.3;
     border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 0px;
    padding-right: 48px;
}
a.nav-item.nav-link.active {
    color: #263446;
    border-bottom: 4px solid #31BB71;
    border-top: none;
    border-left: none;
    border-right: none;
    opacity: 1;
    padding-left: 0px;
    padding-right: 48px;
}
.contract-title{
    align-items: center;
    letter-spacing: 0.04em;
    color: #263446;
    font-size: 16px;
    line-height: 18px;
    font-family: 'SVN-Sofia Pro Medium';
    padding-left: 0px;
}
.contract-description{
    background-color: #F5F6FA;
    min-height: 48px;
    padding: 15px 15px;
}
.contract-date-time{
    background-color: #F5F6FA;
    height: 48px;
    padding: 15px 15px;
   
}
.contrac-detail-date{
    padding-bottom: 48px;
}
.contract-product-title{
    background-color: #F5F6FA;
    height: 48px;
    padding: 15px 15px;
}
.contract-full-description{
    background-color: #F5F6FA;
    padding: 15px 15px;
    min-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 3;
    //height: 96px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.ims-table .table .header-table-contract-code {
    padding-left: 65px;
    width: 23%;
}
.ims-table .table .header-table-contract-number {
    width: 15.5%;
}
.ims-table .table .header-table-contract-title {
    width: 27%;
}
.ims-table .table .header-table-contract-pay {
    width: 20%;
}
.ims-table .table .header-table-contract-date {
    padding-right: 60px;
}
.contractDetail-title{
    padding-left: 65px;
    color: #31BB71;
}
.contract-list-file{
    padding-bottom: 12px;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    font-size: 16px;
    line-height: 16px;
    margin-top: 48px;
}
.contract-file{
    padding: 9px 24px;
    background-color: #31BB71;
    //color: #31BB71;
}
.contract-detail-title{
    color:  #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 12px;
  }
  textarea.contract-detail-input {
    background-color: #F5F6FA;
    border-radius: 0;
    border: none;
    margin-bottom: 48px;
    height: 48px;
    color:#263446;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 50px;
}
.contract-detail-button:hover{
    background: #31BB71;
    border-radius: 2px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 14px 61px;
    float: right;
    cursor: pointer;

}
.btn-secondary {
    color: #fff;
    background-color: #31BB71;
    border-color: #31BB71;
}

.contractNumber-title{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #696969;
  }
  .contractTitle-title{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #696969;
  }
  .contractPay-title{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #696969;
  }
  .contractDate-title{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #696969;
  }

