.user-name{
  font-size: 32px;
  line-height: 32px;
  letter-spacing: 0.04em;
  color: #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
}
.update-customer{
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: #969696;
  margin-top: 4px;
}
.customer-gender{
  background: #263446;
  border-radius: 2px;
  color: white;
  min-width: 59px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
  margin-top: 8px;
}
.user-info{
  margin-top: 24px;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.04em;
}
.left-info-content{
  color: #696969;
}
.right-info-content{
  color: #263446;
}
.contract-transaction{
  padding: 48px 65px 0 65px;
}
.customer-table-header{
  height: 42px;
}
.customer-table{
  width: 100%;
  margin-top: 10px;
}
.customer-table-row{
  height: 42px;
}
.customer-table-row:hover{
  background: #F5F6FA;
}
.user-info-content{
  padding: 48px 65px 0 65px;
}
.first-column{
  padding-left: 65px;
}
.code-column{
  padding-left: 65px;
  color: #31BB71;
}
.user-avatar{
  border-radius: 8px;
}
.column-color{
  color: #696969;
}
.customer-status{
  border-radius: 2px;
  height: 28px;
  padding: 0 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  margin-top: 7px;
  min-width: 120px;
  color: white;
}
.customer-detail-footer{
  margin-bottom: 68px;
}

.ims-table .table .table-email {
  width: 22.5%;
}
.ims-table .table .table-name {
  width: 40%;
  padding-left: 125px;
}
.ims-table .table .table-number {
width: 21.5%;
}

.thumbnail-title img{
  width: 36px;
  height: 36px;
  border-radius: 2px;

}
.thubnail-title-img{
  padding-left: 65px;

}
.customer-list{
  display: flex;
}
.customer-name{
  font-size: 16px;
  color: #263446;
  letter-spacing: 0.02em;
  font-family: 'SVN-Sofia Pro Medium';
  padding-left: 24px;
}
.customer-name:hover{
  color: #263446;
  text-decoration: none;
}
.customer-email{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #696969;
}
.customer-number{
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #696969;
}