.footer-ims{
    width:100vw;
    height:56px;
    box-shadow: 0px 8px 16px rgba(38, 52, 70, 0.1); 
    border-top: 1px solid #D8D8D8;
    position: absolute;
    bottom: 0;
}
.footer-content{
    padding-top: 19px;
    text-align: right;
    margin-right: 18%;  
}
.text{
    color: #696966 !important;
    margin-right: 58px;
}
.text:hover{
    color: #31BB71 !important;
    cursor: pointer;
}
.text-policy{
    color: #696966 !important;

}
.text-policy:hover{
    color: #31BB71 !important;
    cursor: pointer;
}
.default-layout{
    margin-left: 223px;
}
.default-layout-expand{
    margin-left: 64px;
}
.header-content{   
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    height: 60px;
    display: flex;
    position: fixed;
    width: calc(100% - 223px);
    z-index: 2;
    align-items: center;
}
.header-content-collapse{
    width: calc(100% - 64px)
}
.image-header{
    padding-right: 65px;
}
.main{
    padding-left: 65px;
}
.text1{
    color:red;
    font-size: 16px;
    padding-left: 65px;
}
.text2{
    padding-top: 24px;
    color:#263446;
    font-size: 16px;
}
.text3{
    padding-top: 24px;
    color:#7986CB;
    font-size: 16px;
}
.time1{
    color:#969696;
    font-size: 16px;
    padding-right: 65px;
}
.actives-header{
    height: 36px;
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    padding-top: 48px;
    color: #263446;
    transition: .2s;
    font-family: 'SVN-Sofia Pro SemiBold';
}
.search-icons {
    margin-left: 65px;
    padding-top: 22px;
    padding-bottom: 21px;
    margin-right: 44px;
}
.search-mobile-product {
    height: 18px;
    margin-right: auto;
}
.search-mobile{
    font-size: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #B8B8B8;
}
input[type=text].search-mobile {
    border: none;
}
.label-fixed{
    position: fixed;
    top: 12px;
    margin-left: 224px;
    width: auto;
    left: 0px;
    right: 0px;
    height: 36px;
    font-size: 18px;
    padding: 0px;
    line-height: 36px;
    text-align: center;
    display: unset !important;
    transition: .2s;
}
.product-content{
    padding: 48px 65px 24px 65px;
    display: flex;
  }
  .product-all{
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
  }
  .product-add{
    background-color: #31BB71;
    color: #ffffff;
    margin-left: auto;
    border-radius: 2px ;
    height: 36px;
    padding: 3px 22px 5px 20px;
    display: flex;
    align-items: center;
    border: none;
  }
  .text-1{
    padding-right:508px ;
  }
  .text-2{
    padding-right:135px ;
  }
  .text-3{
    padding-right:50px ;
  }
.title-lable{
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.04em;
    color:  #696969;
    overflow: hidden;;
    text-overflow: ellipsis;
}
.sub-title img {
    height: 36px;
    width: 36px;
 }
.thumbnail-title{
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
}
.thumbnail-title:hover{
    text-decoration: none;
    color: #263446;
}
.product-title{
    display: flex;
    padding-left:65px;
}
.thumbnail-lable{
    margin-left: 24px;
    width: 80%;
    white-space: nowrap;
}
.product-page .ims-table .table .header-table-type{
  width: 16%;
}
.product-page .ims-table .table .header-table-update{
  width: 30%;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.active-row{
  display: flex;
  justify-content: space-between;
  height: 42px;
  align-items: center;
}
.active-content{
  margin-top: 20px;
}
.active-row:hover .time1{
  color: #31BB71;
}
.active-row:hover{
  background: #F5F6FA;

}
.main-content{
  padding-top: 60px;
}
.thumbnail-title img{
    width: 36px;
    height: 36px;
}
button.avatar-button.btn.btn-secondary {
  background-color: white;
  border: none;
}
.avatar-button.btn-secondary:focus, .avatar-button.btn-secondary.focus {
  box-shadow: none;
}
.avatar-menu{
  width: 204px;
  box-shadow: 0px 4px 16px rgba(38, 52, 70, 0.08), 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}
.avatar-item{
  height: 42px;
  color: #696969;
}
.avatar-item:hover {
  color: #696969;
}
.icon-user-profile{
  background-image: url('../assets/icons/icon-user-profile.svg');
}
.icon-logout{
  background-image: url('../assets/icons/icon-logout.svg');
}
.user-profile-link{
  color: #696969;
}
.user-profile-link:hover{
  text-decoration: none;
  color: #696969;
}