.ims-table{
  .table thead th{
    border-bottom: none;
    font-size: 16px;
    line-height: 18px;
    font-family: 'SVN-Sofia Pro SemiBold'
  }
  .table-bordered th, .table-bordered td, .table-bordered{
    border: none;
  }
  .table th, .table td{
    padding-left: 0;
    border-top: none;
    vertical-align: middle;
  }
  .table-row:hover {
    background: #F5F6FA;
  }

  .table .header-table-title{
    padding-left: 125px;
    width: 65%;
  }
  .page-item{
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
  .page-link:hover{
    background-color: white;
  }
  .page-item.active .page-link {
    color: #fff;
    background-color: #263446;
    border: none;
    border-radius: 50%;
  }
  .page-link{
    border: none;
    color: #263446;
    line-height: 16px;
    font-size:14px;
    padding:4px 9px 4px 9px;
  }
  .react-bs-table-sizePerPage-dropdown{
    margin-left:50px;
  }
  .react-bootstrap-table-pagination div {
    max-width: 33%;
  }
  .btn-secondary {
    color: #263446;
    background-color: white;
    border: none;
  }
  .react-bootstrap-table-page-btns-ul{
    float: initial;
    justify-content: center;
  }
  .dropdown-menu{
    top: initial;
    bottom: 0;
  }
  .btn-secondary:not(:disabled):not(.disabled):active{
    background-color: white;
    border-color: white;
    color:#263446;
  }
  .btn-secondary:focus{
    box-shadow: none;
  }
}
.ims-table{
  min-height: calc(100vh - 185px);
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.react-bootstrap-table-pagination{
  margin-top: auto;
}
.ims-table .row{
  margin-left: 0;
  margin-right: 0;
  padding-top: 1rem;
  border-top: 0.5px solid #D8D8D8;
}
.table-header th:focus {
  outline: none;
}
.dropdown-menu.open.show .dropdown-item a, .dropdown-menu.open.show .dropdown-item a:hover{
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  color: #212529;
  border: 0;
  text-decoration: none;
}
.icon-next{
  background-image: url("../../src/assets/icons/icon-next.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.icon-previous{
  background-image: url("../../src/assets/icons/icon-previous.svg");
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

