.sender{
  color: #FD5C63;
}
.notification-row{
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.04em;
  padding-left: 65px;
}
.noti-status{
  color: #263446;
}
.noti-type{
  color: rgb(123, 135, 198);
}
.show-noti{
  position: relative;
}
.noti-number{
  position: absolute;
  top: 10px;
  left: 31px;
  font-size: 10px;
  line-height: 12px;
  background: red;
  min-width: 16px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.update-notification{
  text-align: center;
  color: #969696;
  font-size: 14px;
  line-height: 16px;
}