.body{
    padding: 48px 65px;
  }
  .terms-use{
    font-size: 32px;
      line-height: 32px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.04em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 20px;
  }
  .terms-use-title{
    font-size: 24px;
      line-height: 32px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.04em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 12px;
  }
  .terms-use-content{
    font-size: 18px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 20px;
    padding-bottom: 12px;
   // font-family: 'SVN-Sofia Pro SemiBold';
   font-family: 'SVN-Poppins-Regular';
  
  }
  @media (max-width: 800px){
    .terms-use{
      font-size: 28px;
        line-height: 28px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.04em;
        color: #263446;
        font-family: 'SVN-Sofia Pro SemiBold';
        padding-bottom: 20px;
    }
    .terms-use-title{
      font-size: 22px;
        line-height: 28px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.04em;
        color: #263446;
        font-family: 'SVN-Sofia Pro SemiBold';
        padding-bottom: 12px;
    }
    .terms-use-content{
      font-size: 17px;
      letter-spacing: 0.04em;
      color: #263446;
      padding-left: 20px;
      padding-bottom: 12px;
     // font-family: 'SVN-Sofia Pro SemiBold';
     font-family: 'SVN-Poppins-Regular';
    }
  }
  @media (max-width:345.98px){
    .body{
      padding: 48px 20px;
    }
  }
  @media (min-width: 345.98px) and (max-width: 575.98px) {
    .body{
      padding: 48px 30px;
    }
  }
// privacy
.body-privacy{
    padding: 48px 65px;
}
.privacy-title{
    font-size: 32px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-bottom: 12px;
    padding-top: 3px;
}
.privacy-content{
    font-size: 18px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 20px;
   font-family: 'SVN-Poppins-Regular';
}
@media (max-width:345.98px){
    .body-privacy{
      padding: 48px 20px;
    }
    .privacy-title{
        font-size: 20px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.01em;
        color: #263446;
        font-family: 'SVN-Sofia Pro SemiBold';
        padding-bottom: 12px;
        padding-top: 3px;
    }
    .privacy-content{
        font-size: 14px;
        display: flex;
        letter-spacing: 0.04em;
        color: #263446;
        padding-left: 20px;
       font-family: 'SVN-Poppins-Regular';
    }
  }
  @media (min-width: 345.98px) and (max-width: 575.98px) {
    .body-privacy{
      padding: 48px 30px;
    }
    .privacy-title{
        font-size: 28px;
        display: flex;
        align-items: flex-end;
        letter-spacing: 0.01em;
        color: #263446;
        font-family: 'SVN-Sofia Pro SemiBold';
        padding-bottom: 12px;
        padding-top: 3px;
    }
    .privacy-content{
        font-size: 18px;
        display: flex;
        letter-spacing: 0.04em;
        color: #263446;
        padding-left: 20px;
       font-family: 'SVN-Poppins-Regular';
    }
  }
//helps
.helps-body{
  padding: 48px 65px;
}
.helps-title{
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.01em;
  color: #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  padding-bottom: 12px;
  padding-top: 3px;
}
.helps-content{
  font-size: 18px;
  display: flex;
  letter-spacing: 0.04em;
  color: #263446;
  padding-left: 20px;
 font-family: 'SVN-Poppins-Regular';
}
.helps-options{
  font-size: 18px;
  display: flex;
  letter-spacing: 0.04em;
  color: #263446;
  padding-left: 30px;
 font-family: 'SVN-Poppins-Regular';
}
@media (max-width:345.98px){
  .helps-body{
    padding: 48px 20px;
  }
  .helps-title{
      font-size: 20px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.01em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 12px;
      padding-top: 3px;
  }
  .helps-content{
      font-size: 14px;
      display: flex;
      letter-spacing: 0.04em;
      color: #263446;
      padding-left: 20px;
     font-family: 'SVN-Poppins-Regular';
  }
  .helps-options{
    font-size: 14px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 25px;
   font-family: 'SVN-Poppins-Regular';
}
}

@media (min-width: 345.98px) and (max-width: 575.98px) {
  .helps-body{
    padding: 48px 30px;
  }
  .helps-title{
      font-size: 28px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.01em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 12px;
      padding-top: 3px;
  }
  .helps-content{
      font-size: 18px;
      display: flex;
      letter-spacing: 0.04em;
      color: #263446;
      padding-left: 20px;
     font-family: 'SVN-Poppins-Regular';
  }
  .helps-options{
    font-size: 18px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 25px;
   font-family: 'SVN-Poppins-Regular';
}
}
//contract
.contact-body{
  padding: 48px 65px;
}
.contact-title{
  font-size: 32px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.01em;
  color: #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  padding-bottom: 12px;
  padding-top: 3px;
}
.contact-detail{
  font-size: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.01em;
  color: #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  padding-bottom: 12px;
  padding-top: 3px;
}
.contat-content{
  font-size: 18px;
  display: flex;
  letter-spacing: 0.04em;
  color: #263446;
  padding-left: 20px;
 font-family: 'SVN-Poppins-Regular';
}
.contat-options{
  font-size: 18px;
  display: flex;
  letter-spacing: 0.04em;
  color: #263446;
  padding-left: 30px;
 font-family: 'SVN-Poppins-Regular';
}

@media (max-width:345.98px){
  .contat-body{
    padding: 48px 20px;
  }
  .contat-title{
      font-size: 20px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.01em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 12px;
      padding-top: 3px;
  }
  .contact-detail{
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-bottom: 12px;
    padding-top: 3px;
  }
  .contact-content{
      font-size: 14px;
      display: flex;
      letter-spacing: 0.04em;
      color: #263446;
      padding-left: 20px;
     font-family: 'SVN-Poppins-Regular';
  }
  .contact-options{
    font-size: 14px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 25px;
   font-family: 'SVN-Poppins-Regular';
}
}

@media (min-width: 345.98px) and (max-width: 575.98px) {
  .contact-body{
    padding: 48px 30px;
  }
  .contact-title{
      font-size: 20px;
      display: flex;
      align-items: flex-end;
      letter-spacing: 0.01em;
      color: #263446;
      font-family: 'SVN-Sofia Pro SemiBold';
      padding-bottom: 12px;
      padding-top: 3px;
  }
  .contact-detail{
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.01em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-bottom: 12px;
    padding-top: 3px;
  }
  .contact-content{
      font-size: 18px;
      display: flex;
      letter-spacing: 0.04em;
      color: #263446;
      padding-left: 20px;
     font-family: 'SVN-Poppins-Regular';
  }
  .contact-options{
    font-size: 18px;
    display: flex;
    letter-spacing: 0.04em;
    color: #263446;
    padding-left: 30px;
   font-family: 'SVN-Poppins-Regular';
}
}