.product-groups{
    padding: 48px 65px 24px 65px;
    display: flex;
}
.list-product{
    font-size: 32px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
}
.product-groups-add{
    background-color: #31BB71;
    color: #ffffff;
    margin-left: auto;
    border: 2px ;
    height: 36px;
    padding: 3px 22px 5px 20px;
}
.product-groups-content-list{
    padding: 48px 65px;
}
.groups-row{
    margin-right: -32px !important;
    margin-left: -32px !important;
}
.groups-col{
    padding-right: 32px !important;
    padding-left: 32px !important;
}

.product{
    background-color: #F5F6FA;
    border-radius: 8px;
    margin-bottom: 64px;
}
.product:hover{
    box-shadow: 0px 12px 16px rgba(38, 52, 70, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.12);
}
.groups-img{
    border-radius: 8px 8px 0px 0px;
}
.supplementary-product{
    display: flex;
    align-items: center;
    height: 48px;
    background-color:#F5F6FA;
    border-radius: 0px 0px 8px 8px;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding: 0 24px;
  }
.icon-supplementary-product-groups{
    background-image: url("../../src/assets/icons/icon-supplementary-products.svg");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
  }
.add-product-content{
    padding: 48px 65px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-groups-title{
    font-size: 16px;
    line-height: 16px;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-bottom: 12px;
}
.product-add-imgs{
    display: flex;
    padding-bottom: 12px;
}
.product-groups-add-img{
    margin-left: auto;
}
.groups-product{
    padding-bottom: 48px;
}
.product-groups-detail-title{
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.04em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
}
.product-groups-add-img{
    font-size: 16px;
    line-height: 16px;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.04em;
    color: #FD5C63;
    font-family: 'SVN-Sofia Pro SemiBold';
    cursor: pointer;
}
.add-product-col{
    padding-right: 32px;
    padding-left: 32px;
}
.add-product-row{
    padding-left: -32px !important;
    padding-right: -32px !important;
}

.btn-add{
    background-color: #31BB71;
    color: #ffffff;
    border: 2px;
    height: 36px;
}
.btn-exit{
    border: 2px;
    height: 36px;
}
.btn-button{
    margin-left: auto;
    padding-right: 15px;

}