/*.product-list-page{
  margin-left: 255px;
}
.product-list-filter{
  height: 100%;
  width: 255px;
  align-items: center;
  padding-top: 48px;
  border-right: 1px solid #D8D8D8;
  position: fixed;
}*/
.product-list-travel{
  padding-left: 65px;
  height: 52px;
  display: flex;
  align-items: center;
  color: #969696;
  letter-spacing: 0.04em;
  font-family: 'SVN-Sofia Pro Medium';

}
.product-list-all:hover{
  background: #F5F6FA;
  color: #31BB71;
  opacity: 1;
  letter-spacing: 0.04em;
  font-family: 'SVN-Sofia Pro Medium';
  cursor: pointer;

}
.product-list-travel:hover{
  background: #F5F6FA;
  color: #31BB71;
  opacity: 1;
  letter-spacing: 0.04em;
  font-family: 'SVN-Sofia Pro Medium';
  cursor: pointer;
  text-decoration: none;
}
.icon-dropdown-close{
  background-image: url('../../src/assets/icons/icon-dropdown-close.svg');
}
.product-add .icon-sidebar {
  margin-right: 0;
  margin-left: 17px;
}
.dropdown .product-add {
  padding-right:10px;
}
.type-menu{
  width: 253px;
  box-shadow: 0px 2px 16px rgba(38, 52, 70, 0.1), 0px 2px 12px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  margin-top: 10px;
}
.type-item{
  height: 42px;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #969696;
}
.dropdown-item.type-item:hover, .dropdown-item.type-item:focus{
  color: #FFFFFF;
  background: #31BB71;
  outline: none;
}
.btn-secondary.product-add:hover, .btn-secondary.product-add:not(:disabled):not(.disabled):active{
 color: white;
  background: #31BB71;
}
.btn-secondary.product-add:focus, .btn-secondary.product-add.focus {
  box-shadow: none;
}
.icon-type{
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  margin-right: 24px;
  display: block;
}
.icon_du_lich{
  background-image: url('../../src/assets/icons/icon-travel.svg');
}
.icon_o_to{
  background-image: url('../../src/assets/icons/icon-car.svg');
}
.icon_nha_cua{
  background-image: url('../../src/assets/icons/icon-house.svg');
}
.icon_mo_to{
  background-image: url('../../src/assets/icons/icon-motorbike.svg');
}
.dropdown-item.type-item:hover .icon_du_lich{
  background-image: url('../../src/assets/icons/icon-travel-hover.svg');
}
.dropdown-item.type-item:hover .icon_nha_cua{
  background-image: url('../../src/assets/icons/icon-house-hover.svg');
}
.dropdown-item.type-item:hover .icon_mo_to{
  background-image: url('../../src/assets/icons/icon-motorbike-hover.svg');
}
.product-list-travel.active{
  background: #31BB71;
  color: white;
}
//add product
.add-product-type{
  height: 48px;
  background: #F5F6FA;
  margin-bottom: 48px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.cost-info{
  margin-top: 20px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
}
.indemnify-input.product-detail-input{
  margin-bottom: 12px;
}
.indemnify-input-label{
  height: 48px;
  margin-bottom: 12px;
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.indemnify-text{
  color: #B8B8B8;
  padding: 10px 16px 0 0;
}
.multi-select-period.house-insurance{
  margin-bottom: 12px;
}
.product-list-tab {
  margin-top:48px;
  position: relative;
  a.nav-item.nav-link.active {
    border-bottom: 2px solid #31BB71;;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #263446;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-right: 0;
    margin-right: 48px;
  }
  a.nav-item.nav-link{
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #B8B8B8;
    font-family: 'SVN-Sofia Pro SemiBold';
    padding-bottom: 8px;
    padding-right: 0;
    margin-right: 48px;
  }
  .nav-tabs {
    border: none;
  }
  .tab-content{
    margin-top: 36px;
  }
}
.product-add-layout.product-add{
  margin-right:65px;
}
.motorbike-insurance-info{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #263446;
  margin-top: 48px;
}
.hint-info{
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #969696;
  margin-top: 4px;
  margin-bottom: 24px;
}
.mandatory-insurance{
  padding: 12px 24px 24px 24px;
  border: 1px solid #D8D8D8;
  font-size: 16px;
  line-height: 25px;
}
.product-detail-input.motorbike-insurance-input{
  margin-bottom: 0;
  margin-top: 8px;
}
.motorbike-insurance-label{
  margin-top: 8px;
  height: 48px;
  display: flex;
  align-items: center;
}
.out-put-image div {
  width: 33.3%;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  display: inline-block;

}
.out-put-image{
  display: flex;
  flex-wrap: wrap;
}
.cover-image{
border-radius: 4px;
}
.image-label{
  cursor: pointer;
  color: #FD5C63;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  margin-bottom: 0;
}
.error-message{
  color: #FD5C63;
  height: 10px;
}
.error-label{
  height: 10px;
}
/*.image-content{
  display: flex;
  flex-wrap: wrap;
}*/
.default-image{
  border-radius: 4px;
  cursor: pointer;
}
/*.input-error{
  color: #FD5C63;
}
.ims-input{
  margin-bottom: 48px;
}*/
.icon-delete-image{
  background-image: url("../assets/icons/icon-delete-image.svg");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}
.delete-image{
  display: none;
  padding-top: 7px;
  padding-right: 23px;
  position: absolute;
  right: 0;
  top: 0;
}
.out-put-image div:hover .delete-image{
  display: block;
}
.add-product-button{
  position: absolute;
  top: 5px;
  right: 0;
}
.date-time button {
  outline: none;
}
.text-editor .tox-statusbar__branding{
  display: none;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.images-container{
  position: relative;
}
.images-container:hover .delete-image {
  display: block;
}
