.product-detail{
  padding: 48px 65px;
}
.product-detail-title{
  color:  #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  font-size: 16px;
  line-height: 16px;
}
.product-detail-input {
  background-color: #F5F6FA;
  border-radius: 0;
  border: none;
  margin-top: 16px;
  margin-bottom: 48px;
  height: 48px;
  color:#263446;
  padding-left: 16px;
  padding-right: 16px;
}
.product-detail .form-control:focus {
  background-color: #F5F6FA;
  box-shadow: none;
}
.hints-input{
  background-color: #F5F6FA;
  border-radius: 0;
  border: none;
  height: 48px;
  padding-left:16px;
}
.icon-supplementary-product{
  background-image: url("../../src/assets/icons/icon-supplementary-products.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
.icon-add{
  background-image: url("../../src/assets/icons/icon-add.svg");
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-top: 32px;
  margin-bottom: 28px;
}
.supplementary-product-header{
  display: flex;
  align-items: center;
  height: 48px;
  background-color:#263446;
  margin-top: 32px;
  color: white;
  font-family: 'SVN-Sofia Pro SemiBold';
  padding: 0 24px;
}
.supplementary-product-content{
  padding: 12px 24px 24px 24px;
  background: #F5F6FA;
  font-size: 16px;
  line-height: 25px;
}
.detail-link{
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #FD5C63;
}
.hints-row{
  display: flex;
  margin: 16px 0;
}
.product-detail-hint .button-delete-hints:hover{
  background-color: #FD5C63;
  color: white;
}
.product-detail-hint .btn-secondary:focus, .product-detail-hint .btn-secondary.focus{
  box-shadow: none;
}
.icon-delete-hints{
  background-image: url("../../src/assets/icons/icon-delete-hints.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 15px;
  right: 16px;
}
.product-detail-hint .button-delete-hints{
  color: #FD5C63;
  background-color:  #F5F6FA;
  border: none;
  border-radius: 0;
  font-family: 'SVN-Sofia Pro Medium';
  margin-left: 16px;
  min-width: 48px;
}
.hints-row-input{
  position: relative;
  width: 100%;
}
.left-content{
  padding-left: 50px;
}
//date time
.date-time .SingleDatePicker{
  width: 100%;
}
.date-time .SingleDatePickerInput{
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #F5F6FA;
}
.date-time .DateInput{
  width: 90%;
}
.date-time .DateInput_input{
  background-color: #F5F6FA;
  padding-left: 16px;
}
.date-time{
  margin-top: 16px;
  margin-bottom: 54px;
}
//switch
.special-product{
   margin-bottom: 40px;
  display: flex;
  align-items: center;
}
//check
.icon-check{
  background-image: url("../../src/assets/icons/icon-check.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.icon-checked{
  background-image: url("../assets/icons/icon-checked.svg");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}
.show-checkbox{
  margin-bottom: 35px;
}
//multiple-select
.multi-select-period {
  margin-top: 16px;
  margin-bottom: 48px;
}
.product-detail-period .select-period__control {
  border: none;
  background-color: #F5F6FA;
  border-radius: 0;
  height: 48px;
  box-shadow: none;
}
.product-detail-period .select-period__multi-value{
  border: 0.5px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: white;
}
.product-detail-period .select-period__multi-value__label{
  color:#263446;
  padding-top: 5px;
  padding-right: 5px;
}
.product-detail-period .select-period__value-container{
  padding-left: 16px;
}
.product-detail-period .select-period__indicator-separator{
  width: 0;
}
.package-period{
  padding: 0px 16px;
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 36px;
  display: flex;
  align-items: center;
  margin-top: 12px;
}
textarea.product-detail-input{
  min-height: 100px;
}
.supplementary-modal.product-detail-input {
  margin-bottom: 0;
  margin-top: 0;
}
.supplementary-row{
  margin-bottom: 12px;
  align-items: center;
}
.supplementary-modal-content{
  padding:24px
}
.modal .modal-dialog{
  max-width: 648px;
}
.product-modal-header{
  /*background: #31BB71;
  border-radius: 2px 2px 0px 0px;
  height: 48px;
  color: white;
  align-items: center;*/
  font-family: 'SVN-Sofia Pro SemiBold';
}
.save-button{
  background: #31BB71;
  border-radius: 2px;
  min-width: 158px;
  height: 48px;
  border: none;
  font-family: 'SVN-Sofia Pro Medium';
}
.save-button:hover, .cancel-button:hover, .contact-accept-button:hover{
  background: #31BB71;
}
.cancel-button:hover, .contact-cancel-button:hover{
  background: white;
  color: #263446;
}
.cancel-button{
  background: white;
  border-radius: 2px;
  min-width: 158px;
  height: 48px;
  border: 1px solid #D8D8D8;
  color: #263446;
  margin-right: 24px;
  font-family: 'SVN-Sofia Pro Medium';
}
.product-bottom{
  margin-bottom: 85px;
  justify-content: flex-end;
  display: flex;
  margin-top: 48px;
}
.text-editor{
  margin-top: 16px;
  margin-bottom: 36px;
}
.package-modal.multi-select-period{
  margin-top: 12px;
  margin-bottom: 0;
}
.icon-delete{
  background-image: url("../../src/assets/icons/icon-delete.svg");
}
.icon-delete:hover{
  background-image: url("../../src/assets/icons/icon-delete-hover.svg");
}
.icon-duplicate{
  margin-right: 24px;
  background-image: url("../../src/assets/icons/icon-duplicate.svg");
  opacity: 30%;
}
.icon-duplicate:hover {
  opacity: 100%;
}
.icon-edit{
  margin-right: 24px;
  background-image: url("../../src/assets/icons/icon-edit.svg");
  opacity: 30%;
}
.icon-edit:hover {
  opacity: 100%;
}
.content-period-checkbox{
  width: 100%;
}
.price-item{
  width: 60%;
  background-color: #F5F6FA;
  border-radius: 0;
  border: none;
  height: 36px;
  color:#263446;
  padding-left: 16px;
  padding-right: 16px;
}
.date-time .SingleDatePickerInput_calendarIcon{
  margin: 0;
  padding-right: 0;
}
@media (max-width: 1300px){
  padding-left: 0;
}
@media (max-width: 991.98px){
  .left-content{
    padding-left: 15px;
  }
}
.reviewPagination-product{
  background: #F5F6FA;
    width: 100%;
    padding: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
}
.reviewPagination-product-review{
  display: flex;
}
.reviewPagination-product-title{
  display: flex;
}
.reviewPagination-image{
  padding-right: 16px;
}
.reviewPagination-update{
  margin-left: auto;
}
.review-comment{
  font-family: 'SVN-Sofia Pro SemiBold';
  font-size: 16px;
  line-height: 16px;
  color: #263446;
  align-items: flex-end;
  letter-spacing: 0.04em;
}
.reviewPagination-name{
  font-family: 'SVN-Sofia Pro SemiBold';
  font-size: 16px;
  line-height: 16px;
  color: #263446;
  align-items: flex-end;
  letter-spacing: 0.04em;
}
.reviewPagination-commet-title{
  align-items: flex-end;
  letter-spacing: 0.02em;
  color: #263446;
  font-size: 16px;
  line-height: 16px;
}
.icons-rating{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  min-width: 16px;
}
.rating-img{
  background-image: url("../../src/assets/icons/Rating\ \(1\).svg");
}
.reviewPagination-rating{
  display: flex;
  margin: 2px 0px 2px 0px;
  width: fit-content;
}
.contract-content-title{
  color:  #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  font-size: 16px;
  line-height: 16px;
  padding-bottom: 12px;
  margin-top: 48px;
}
.supplementary-contract-header{
  display: flex;
  align-items: center;
  height: 48px;
  background-color:#263446;
  color: white;
  font-family: 'SVN-Sofia Pro SemiBold';
  padding: 0 24px;

}