.sidebar-nav{
  height: 100vh;
  width: 223px;
  position: fixed;
  top:0;
  left: 0;
  background: #263446;
}
.sidebar-nav-collapse{
  height: 100vh;
  width: 64px;
  position: fixed;
  top:0;
  left: 0;
  background: #263446;
}
.sidebar-nav-collapse .icon-menu{
  margin-top: 22px;
  margin-bottom: 93px;
}
.logo-image{
  margin-bottom: 82px;
  margin-top: 12px;
}
.sidebar-link{
  height: 52px;
  display: flex;
  align-items: center;
}
.sidebar-link:hover{
  background: #000000;
  text-decoration: none;
}
.sidebar-link:hover span {
  color: white;
  opacity: 1;
  text-decoration: none;
}
.icon-sidebar{
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: block;
  margin-left: 24px;
  margin-right: 24px;
}
.icon-active{
  background-image: url("../../src/assets/icons/icon-active.svg");
}
.icon-customer{
  background-image: url("../../src/assets/icons/icon-customer.svg");
}
.icon-gift{
  background-image: url("../../src/assets/icons/icon-gift.svg");
}
.icon-notification{
  background-image: url("../../src/assets/icons/icon-notification.svg");
}
.icon-product{
  background-image: url("../../src/assets/icons/icon-product.svg");
}
.icon-contract-list{
  background-image: url("../../src/assets/icons/icon-contract-list.svg");
}
.icon-setting{
  background-image: url("../../src/assets/icons/icon-setting.svg");
}
.icon-text{
  background-image: url("../../src/assets/icons/icon-text.svg");
}
.icon-transaction{
  background-image: url("../../src/assets/icons/icon-transaction.svg");
}
.icon-menu{
  background-image: url("../../src/assets/icons/icon-menu.svg");
}
//hover
.sidebar-link:hover .icon-active{
  background-image: url("../../src/assets/icons/icon-active-hover.svg");
}
.sidebar-link:hover .icon-product{
  background-image: url("../../src/assets/icons/icon-product-hover.svg");
}
.sidebar-link:hover .icon-arrow-up{
  background-image: url("../../src/assets/icons/icon-arrow-up.svg");
}
.sidebar-link:hover .icon-customer{
  background-image: url("../../src/assets/icons/icon-customer-hover.svg");
}
.sidebar-link:hover .icon-gift{
  background-image: url("../../src/assets/icons/icon-gift-hover.svg");
}
.sidebar-link:hover .icon-notification{
  background-image: url("../../src/assets/icons/icon-notification-hover.svg");
}
.sidebar-link:hover .icon-transaction{
  background-image: url("../../src/assets/icons/icon-transaction-hover.svg");
}
.sidebar-link:hover .icon-setting{
  background-image: url("../../src/assets/icons/icon-setting-hover.svg");
}
.sidebar-link:hover .icon-text{
  background-image: url("../../src/assets/icons/icon-text-hover.svg");
}
.sidebar-link:hover .icon-contract-list{
  background-image: url("../../src/assets/icons/icon-contract-hove.svg");
}
//active
.sidebar-link.active .icon-active{
  background-image: url("../../src/assets/icons/icon-active-hover.svg");
}
.sidebar-link.active .icon-product{
  background-image: url("../../src/assets/icons/icon-product-hover.svg");
}
.sidebar-link.active .icon-arrow-up{
  background-image: url("../../src/assets/icons/icon-arrow-up.svg");
}
.sidebar-link.active .icon-customer{
  background-image: url("../../src/assets/icons/icon-customer-hover.svg");
}
.sidebar-link.active .icon-gift{
  background-image: url("../../src/assets/icons/icon-gift-hover.svg");
}
.sidebar-link.active .icon-notification{
  background-image: url("../../src/assets/icons/icon-notification-hover.svg");
}
.sidebar-link.active .icon-transaction{
  background-image: url("../../src/assets/icons/icon-transaction-hover.svg");
}
.sidebar-link.active .icon-setting{
  background-image: url("../../src/assets/icons/icon-setting-hover.svg");
}
.sidebar-link.active .icon-text{
  background-image: url("../../src/assets/icons/icon-text-hover.svg");
}
.sidebar-link.active  .icon-contract-list{
  background-image: url("../../src/assets/icons/icon-contract-hove.svg");
}
.sidebar-link.sidebar-product .icon-arrow-up{
  background-image: url("../../src/assets/icons/icon-arrow-up.svg");
}
//product
.sidebar-link.sidebar-product .icon-product{
  background-image: url("../../src/assets/icons/icon-product-hover.svg");
}

.sidebar-link span{
  color: #FFFFFF;
  opacity: 0.5;
  font-family: 'SVN-Sofia Pro Medium';
}
.sidebar-link.active{
  background: #000000;
}
.sidebar-link.active span{
  color: white;
  opacity: 1;
}
.sidebar-link.sidebar-product span{
  color: white;
  opacity: 1;
}
.icon-arrow-up{
  background-image: url("../assets/icons/icon-arrow-down.svg");
}
.icon-arrow-down{
  background-image: url("../assets/icons/icon-arrow-up.svg");
}
.product-link{
  padding-left: 64px;
}
