.title-transaction{
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    color: #696969;
}
.ims-table .table .header-table-code {
    width: 20%;
    padding-left: 65px;
}
.ims-table .table .header-table-transaction-update {
   
  width: 12.5%;
}
// .ims-table .table .header-table-transaction {
//     padding-left: 65px;
//     width: 28%;
// }
// .ims-table .table .header-table-transaction {
//     padding-left: 65px;
//     width: 28%;
// }
// .ims-table .table .header-table-transaction {
//     padding-left: 65px;
//     width: 28%;
// }
.code-transaction, .code-transaction:hover{
    color: #31BB71;
    text-decoration: none;
    padding-left: 65px;
}
.e-transaction-details{
    padding: 0px 50px;
}
.code-title{
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    letter-spacing: 0.04em;
    font-family: 'SVN-Sofia Pro Medium';
}
.code-text{
    background: #31BB71;
    border-radius: 2px;
    height: 36px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
    padding: 0 16px;
}
.product-info{
    background: #F5F6FA;
    width:100%;
    padding: 24px;
    margin-top: 12px;
    margin-bottom: 48px;
}
.product-name{
    font-family: 'SVN-Sofia Pro SemiBold';
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    margin: 8px 0 15px 0;
}
.product-cost{
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: #696969;
}
.product-status{
    border-radius: 2px;
    height: 28px;
    margin-top: 10px;
    margin-right: 16px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    text-transform:capitalize;
    font-family: 'SVN-Sofia Pro Medium';
    color: white;

}
.paid-status{
  background: #5764AB;
}
.requested-status{
  background: #FF8429;
}
.canceled-status{
  background: #263446;
}
.accepted-status{
  background: #4E83EB;
}
.signed-status, .in_progress-status{
  background: #31BB71;
}
.paid_failed-status{
  background: #FD5C63;
}
.transaction-date-time{
    font-size: 14px;
    line-height: 14px;letter-spacing: 0.02em;
    margin-top: 10px;
    color: #969696;
    padding: 0 16px;
}
.e-transaction-title{
  color:  #263446;
  font-family: 'SVN-Sofia Pro SemiBold';
  font-size: 16px;
  line-height: 16px;
  margin-top: 48px;
}
.product-owner{
  background: #F5F6FA;
  padding: 24px;
  margin-top: 15px;
  margin-bottom: 48px;
}
.product-owner-detail{
  color: #969696;
}
.e-transaction-details .supplementary-product-header{
  margin-top: 15px;
}
.contact-accept-button{
  width:100%;
  background: #31BB71;
  border-radius: 2px;
  height: 48px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  border: none;
  font-family: 'SVN-Sofia Pro Medium';
  margin-top: 48px;
}
.transaction-details-period{
  background: #F5F6FA;
  height:48px;
  margin-top: 15px;
  padding: 0 16px;
  display: flex;
  align-items: center;
}
.contact-cancel-button{
  background: white;
  border-radius: 2px;
  width: 100%;
  height: 48px;
  border: 1px solid #D8D8D8;
  color: #263446;
  margin-right: 24px;
  font-family: 'SVN-Sofia Pro Medium';
  margin-top: 16px;
}
.transaction-detail-status.product-status{
  margin-top: 0;
  margin-right: 0;
  display: inline-flex;
  min-width: 120px;
  justify-content: center;
}
.file-link{
  color: #263446;
  font-size: 16px;
  line-height: 16px;
  padding-right: 50px;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file-link:hover{
  color: #263446;
  text-decoration: none;
}
.file-content{
  min-height: 48px;
  background: #F5F6FA;
  align-items: center;
  position: relative;
  border-bottom: 0.5px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
}
.file-content:hover{
  background: #FFFFFF;
}
.contact-file-info{
  color: #696969;
  font-size: 14px;
  line-height: 14px;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: 'SVN-Sofia Pro Light'
}
.insurance-info-content{
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 18px;
}
.coverage-info{
  font-size: 14px;
  line-height: 14px;
  color: #FD5C63;
  letter-spacing: 0.02em;
  font-style: italic;
}
.coverage-content{
  border-bottom: 1px dashed #D8D8D8;;
}
.icon-file{
  background-image: url('../../src/assets/icons/icon-file.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-left: 21px;
  margin-right: 17px;
  display: block;
}
.icon-delete-file{
  background-image: url('../../src/assets/icons/icon-delete-file.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 22px;
  position: absolute;
  top:13px;
  right: 10px;
  display: none;
}
.file-content:hover .icon-delete-file{
  display: block;
}
.house-info{
  border-bottom: 1px solid #D8D8D8;
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.type-file{
  font-size: 8px;
  font-family: 'SVN-Sofia Pro Bold';
  position: absolute;
  top: 8.5px;
  left: 16px;
  text-transform: uppercase;
}
.file-icon-container{
  position: relative;
}

